[submodule "common"]
	path = src/extra/TSPR
	url = https://github.com/FlyingJester/TSPR.git
[submodule "v8"]
	path = src/thirdparty/v8
	url = https://github.com/v8/v8.git
[submodule "src/t5"]
	path = src/t5
	url = https://github.com/FlyingJester/libt5
[submodule "bin/system/formats"]
	path = bin/system/formats
	url = https://github.com/sphere-group/formats.git
