[submodule "common"]
	path = src/TSPR
	url = https://github.com/FlyingJester/TSPR.git
[submodule "v8"]
	path = src/thirdparty/v8
	url = https://github.com/v8/v8.git
[submodule "fj-gl"]
	path = fj-gl
	url = https://github.com/FlyingJester/FJ-GL.git
